/* ---- CSS reset ---- */

html {
    box-sizing: border-box;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  body {
    background: url(../img/background.jpg);
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
  }
  
  /* ---- typography ---- */
  /* rgb(0, 217, 255);*/
  body {
    color: black;   
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 32px;
    line-height: 147%;
  }
  
  p {
    margin: 0;
  }
  
  /* ---- layout ---- */
  
  html,
  body {
    height: 100vh;
    overflow: hidden;
  }
  
  .container {
    margin: 0 20px;
  }
  
  #palmtree {
    width: 700px;
    height: 1000px;
    position: relative;
    top: 750px;
  }
/* revisar borde */
  #lives-score{
    border: 30px solid white;
    position:static;
    top: 5%;
  }

  @media (min-width: 768px) {
    .container {
      margin: 0 auto;
    }
  }
  
  /* ---- components ---- */
  
  .game {
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .game header {
    height: 50px;
    display: flex;
    align-items: center;
  }
  
  .game .lives {
    flex: 1;
  }
  
  .game .score {
    flex: 1;
  }
  
  .game .label {
    font-weight: bold;
  }
  
  .game .value {
    font-style: italic;
  }
  
  .game .canvas-container {
    flex: 1;
    z-index: 5;
  }