/* ---- CSS reset ---- */
@font-face{
  src: url("../img/THE\ LAST\ KINGDOM.ttf");
  font-family: The Last Kingdom;
}

html {
    box-sizing: border-box;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  body {
    background: url(../img/background.jpg);
    background-size: cover;
    background-position: center;
    z-index:-1;
    margin: 0;
    padding: 0;
  }

  header{
    text-align: left;
  }

  .main1{
    display:flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 5%;
    margin-right: 10%;
    justify-content: space-between;
    height: 75vh;
  }

  .main2{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 90vh;
  }
  .main2 h2{
    font-size:150px
  }
  
  .main2 p{
    font-size: 90px;
  }

  .main1 #start-button {
    width: 390px;
    height: 190px;
    border: none;
    border-radius: 10px;
    font-family: The Last Kingdom;
    font-size: 150px;
    text-align: center;
    margin: auto;
    background-color: #303d33a8;
    color: white;

}
.main2 #end-button {
  width: 500px;
  height: 190px;
  border: none;
  border-radius: 10px;
  font-family: The Last Kingdom;
  font-size: 100px;
  text-align: center;
  margin: auto;
  background-color: #303d33a8;
  color: white;

}

.main1 #start-button:hover {
  background-color: unset;
  color: rgb(255, 0, 0);
}

.main1 #start-button:focus{
  outline: 0;
}

.main2 #end-button:hover {
  background-color: unset;
  color: rgb(255, 0, 0);
}

.main2 #end-button:focus{
  outline: 0;
}
  .main1 h1{
    font-size: 200px;
  }

  /* ---- typography ---- */
  /* rgb(0, 217, 255);*/
  body {
    color: black;   
    font-size: 32px;
    line-height: 147%;
    font-family: The Last Kingdom;
  }
  
  p {
    margin: 0;
  }
  

  /* ---- layout ---- */
  
  html,
  body {
    height: 100vh;
    overflow: hidden;
  }
  
  .container {
    margin: 0 20px;
  }
  

  #palmtree {
    width: 700px;
    height: 1000px;
    position: relative;
    top: 750px;
  }


/* revisar borde */
#lives-score {
  background: #8a8a8b;
  border-bottom: 5px solid;
  border-color: #000000;
  position: static;
  padding: 35px;
  top: 5%;
  color: white;
}
  @media (min-width: 768px) {
    .container {
      margin: 0 auto;
    }
  }
  
  /* ---- components ---- */
  
  .game {
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .game header {
    height: 50px;
    display: flex;
    align-items: center;
  }
  
  .game .lives {
    flex: 1;
  }
  
  .game .score {
    flex: 1;
  }
  
  .game .label {
    font-weight: bold;
  }
  
  .game .value {
    font-style: italic;
  }
  
  .game .canvas-container {
    flex: 1;
    z-index: 5;
  }